<div class="menu">
	<ul>
		<li><%= link_to "随笔", controller: 'static_pages', action: 'menu', kind: "suibi" %></li>
		<li><%= link_to "博客", controller: 'static_pages', action: 'menu', kind: "blog" %></li>
		<li><%= link_to "日志", controller: 'static_pages', action: 'menu', kind: "log" %></li>
		<li><%= link_to "笔记", controller: 'static_pages', action: 'menu', kind: "node" %></li>
	</ul>
</div>