<div class="notification_main">
	<h3>新的通知提醒（<%= @unread_count %> 条）</h3>
	<!-- 文章回复 -->
	<span>收到的提醒</span>
	<% @notifications.each do |notification| %>
    <%= render notification %>
  <% end %>
</div>