<div class="index_users">
	<h4>目前已经有 <%= @users.all.count %> 位会员加入了share</h4>
	<ol class="follow-list">
		<% @users.each do |user| %>
			<li class="follow-list-item">
				<%= image_tag(user.avatar_url(:small)) %>
				<%= link_to user.name, user %>
			</li>
		<% end %>
	</ol>
	<div class="class"></div>
</div>