<div class="follow_main">
	<h2>
		<%= @title %>
	</h2>
	<div class="container">
		<% if @users.any? %>
			<ol class="follow-list">
				<%= render @users %>
			</ol>
			<%= will_paginate %>
		<% end %>
	</div>
</div>