/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 //= require jquery.atwho
 */


/* 注册页面 */
.signup {
	background-color: white;
	border-radius: 6px;
	padding: 20px;
	padding-left: 300px;
}
.signup span {
	color: #bbbbbb;
}
/* 登陆页面 */
.signin {
	background-color: white;
	border-radius: 6px;
	padding: 20px;
}
.signin .signin_main {
	padding-left: 80px;
    float: left;
}
.signin .signin_github {
	padding-right: 80px;
    float: right;
}

/* 关注列表表单 */
.follow_main {
	margin-top: 50px;
}
.follow-list {
	list-style-type: none;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.follow-list-item {
	width: 280px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	float: left;
	border-bottom: 1px solid #EEEEEE;
}

/* 清除浮动 */
.class { 
	clear: both; 
}

/* page */
#page_main {
	margin-top: 46px;
}

/* posts主体 */
.posts {
	margin-top: 25px;
    list-style: none;
}
.posts .one_post {
	background-color: white;
	width: 180px;
	height: 230px;
	margin-right: 27px;
	margin-top: 30px;
	padding: 10px;
	border-radius: 6px;
	float: left;
	box-shadow: 0 2px 5px #aaaaaa;
}
.posts .one_post a {
	
}
.posts .one_post .title {
	font-size: 20px;
    font-weight: bold;   
}
.posts .one_post .content {
	font-size: 15px;
	/*对多余的内容裁减*/
	overflow-x: hidden;
}
.timestamp {
    color:  #eaeaea;
    font-size: 11px;
 /* position: absolute;
  top: 300px;*/
}
.line {
	border-top: 1px solid #e8e8e8;
}
/* 显示post */
.post_main {
	width: 700px;
	float: left;
}
.post_main .post_title {
	padding: 10px;
	background-color: white;
	border-radius: 6px;
}
.post_main .post_totle_font {
	margin-bottom: 6px;
	color: #dddddd;
}
.post_main .post_content {
	margin-top: 10px;
}
/* 编辑post */
.post_main .post_title .textarea {
	width: 600px;
}
.post_main .post_title .location {
	position: relative;
	left: 520px;
}

/* 显示全部用户 */
.index_users {
    margin-top: 50px;
}

/* 编辑user资料 */
.user_edit_main {
	width: 680px;
	background-color: white;
	padding: 10px;
	border-radius: 6px;
	float: left;
}
.user_edit_main h3 {
	margin-bottom: 8px;
}
.user_edit_main .user_edit_form {
	padding: 35px;
}
.user_edit_main .user_edit_form .label {
  	display: inline;
  	padding: 5px;
}
.user_edit_main .user_edit_form .add-on {
	background-color: #EEEEEE;
	padding: 6px;
	border-radius: 3px;
	border: 1px solid #cccccc;
}
.user_edit_main .user_edit_form .resume {
	width: 400px;
	height: 100px;
}


/* 评论 */
.comment {
	margin-top: 18px;
	width: 700px;
	background-color: #f5f5f5;
	border-radius: 6px;
}
.comment .comment_number{
	padding: 8px;
	color: #999999;
}
.comment .comment_content {
	padding: 8px;
	background-color: white;
}


/* 回复 */
.reply_post {
	width: 700px;
}
.reply_post .reply_main {
	margin-top: 19px;
	background-color: white;
	border-radius: 6px;
	padding: 9px;
}
.reply_post .reply_main .textarea {
	width: 670px;
	height: 100px;
}
.reply_post .reply_main p {
	display: inline;
	float: right;
	position: relative;
	top: 10px;
	color: #b9b9b9;
}


/* 小贴士 */
.tips {
	background-color: white;
	width: 225px;
	height: 120px;
	border-radius: 6px;
	float: right;
}
.tips p {
	padding-top: 8px;
	text-align: center;
}
.tips .tips_content {
	padding: 8px;
}


/* 用户资料 */
.show_user {
	background-color: white;
	width: 550px;
	border-radius: 6px;
	padding: 15px;
	margin-top: 50px;
}

.show_user .user_info_main {
	float: left;
}

.show_user .follow_button {
	float: right;
}
/* 关注粉丝栏 */
.show_user section {
	width: 130px;
	margin-top: 10px;
	border-top: 1px solid #a6a6a6;
	border-bottom: 1px solid #a6a6a6;
}
.stats {
    overflow: auto;
    padding-top: 8px;
    padding-left: 20px;
    padding-bottom: 8px;
}
.stats a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #a6a6a6;
    color: gray;
}
.stats a:first-child {
    padding-left: 0;
    border: 0;
}
.stats a:hover {
	text-decoration: none;
	color: blue;
}
strong {
    display: block;
}

/* 评论通知提醒 */
.notification_main {
    margin-top: 50px;
    background-color: white;
    border-radius: 6px;
    padding: 10px;
}

.notification_comment {
    margin-top: 10px;
    border: 1px solid #a6a6a6;
    padding: 20px;
}

.notification_indicator{
	border-radius: 3px;
	
}

.unread {
	background-color: #e55753;
}
.hightlight {
	color: red;
}






