/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/* 清除浮动 */
.class {
	clear: both;
}

/* follow-list-form */

.follow-list {
	list-style-type: none;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.follow-list-item {
	float: left;
	width: 260px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	border-bottom: 1px solid rgb(238,238,238);
}

/* posts */

.posts {
  list-style: none;
  margin: 10px 0 0 0;
  font-size: 18px;
}
.posts li {
	padding: 10px 0;
	border-top: 1px solid #e8e8e8;
}
.title {
  display: block;
}
.timestamp {
  color:  #eaeaea;
  font-size: 11px;
}
.line {
	border-top: 1px solid #e8e8e8;
}

.post_main {
	width: 700px;
	margin-top: 46px;
}
.post_main .post_title {
	padding: 10px;
	background-color: white;
	border-radius: 6px;
}
.post_main .post_totle_font {
	margin-bottom: 6px;
	color: #dddddd;
}
.post_main .post_content {
	margin-top: 10px;
}

/* comment */
.comment {
	margin-top: 18px;
	width: 700px;
	background-color: #f5f5f5;
	border-radius: 6px;
}
.comment .comment_number{
	padding: 8px;
	color: #999999;
}
.comment .comment_content {
	padding: 8px;
	background-color: white;
}

/* reply */
.reply_main {
	margin-top: 19px;
}





