/* 显示评论 */

.comment {
	margin-top: 18px;
	width: 700px;
	background-color: #f5f5f5;
	border-radius: 6px;
}
.comment .comment_number{
	padding: 8px;
	color: #999999;
}
.comment .comment_content {
	padding: 8px;
	background-color: white;
}
.comment_shop a {
	color: #26709A;
	position: relative;
	left: 95%;
}


/* 添加回复 */

.reply_post {
	width: 700px;
}
.reply_post .reply_main {
	margin-top: 19px;
	background-color: white;
	border-radius: 6px;
	padding: 9px;
}
.reply_post .reply_main .textarea {
	width: 670px;
	height: 100px;
}
.reply_post .reply_main p {
	display: inline;
	float: right;
	position: relative;
	top: 10px;
	color: #b9b9b9;
}
