@import "bootstrap";

/* 网站整体 */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-color: #dce0e4;
}


/* 主体头部 */

.header_left {
  float: left;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#seach {
  float: right;
  padding-left: 200px;
}

.navbar-top {
  height: 50px;
  background-color: black;
}


/* 主体尾部 */

footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}




