/* 评论通知提醒 */
.notification_main {
    margin-top: 50px;
    background-color: white;
    border-radius: 6px;
    padding: 10px;
}

.notification_comment {
    margin-top: 10px;
    border: 1px solid #a6a6a6;
    border-radius: 5px;
    padding: 10px;
}

.notification_indicator{
	border-radius: 3px;
}

.unread {
	background-color: #e55753;
}
.hightlight a {
	color: red;
}

