/* 首页posts显示 */

.posts {
	margin-top: 25px;
    list-style: none;
}
.posts .one_post {
	background-color: white;
	width: 180px;
	height: 230px;
	margin-right: 27px;
	margin-top: 30px;
	padding: 10px;
	border-radius: 6px;
	float: left;
	cursor: pointer;
}
.one_post a {
	color: black;
	display: block;
	text-decoration: none;
}
.one_post .title {
	font-size: 20px;
    font-weight: bold;   
}
.one_post .content {
	font-size: 15px;
	/*对多余的内容裁减*/
	overflow-x: hidden;
}
.one_post .content a {
	display: inline-block;
	width: 180px;
	height: 210px;
}
.timestamp {
    color:  #eaeaea;
    font-size: 11px;
 /* position: absolute;
  top: 300px;*/
}


/* 发表post */

.post_main {
	width: 700px;
	float: left;
}
#page_main {
	margin-top: 46px;
}
.post_main .post_title {
	padding: 10px;
	background-color: white;
	border-radius: 6px;
}
.post_main .post_totle_font {
	margin-bottom: 6px;
	color: #dddddd;
}
.post_main .post_content {
	margin-top: 10px;
}


/* 编辑post */

.post_main .post_title .textarea {
	width: 600px;
}
.post_main .post_title .location {
	position: relative;
	left: 520px;
}


/* post标签选择 */
.tag {
	margin: 100px auto;
	width: 740px;
	height: 560px;
	background-color: white;
}
.tag a {
	background-color: red;
}



