/* 关注列表表单 */

.follow_main {
	margin-top: 50px;
}

.follow-list {
	list-style-type: none;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.follow-list-item {
	width: 280px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	float: left;
	border-bottom: 1px solid #EEEEEE;
}

.follow-list-item a {
	color: black;
	font-size: 18px;
}
.follow-list-item p {
	display: inline;
}