/* 分割线 */
.line {
	border-top: 1px solid #e8e8e8;
}


/* 清除浮动 */
.class { 
	clear: both; 
}


/* 小贴士 */
.tips {
	background-color: #d1e2f1;
	width: 225px;
	height: 120px;
	border-radius: 6px;
	float: right;
}
.tips p {
	padding-top: 8px;
	text-align: center;
}
.tips .tips_content {
	padding: 8px;
}

/* 整体列表样式 */
ul {
	list-style: none;
}
ul li {
	display: inline-block;
}