<footer class="footer">
  <small>
     <%= link_to "NODE",   '#' %>
     © 2013 NODE
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "New",     '#' %></li>
    </ul>
  </nav>
</footer>
