<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
    	<div class="container">
      		<%= link_to "NODE", root_path, id: "logo" %>
			<nav>
			    <ul class="nav pull-right">
	            <li id="fat-menu" class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                语言：简体中文 <b class="caret"></b>
	              </a>
	              <ul class="dropdown-menu">
	                <li><%= link_to "English",    '#' %></li>
	                <li class="divider"></li>
	                <li>
	                  <li><%= link_to "繁体中文",  '#' %></li>
	                </li>
	              </ul>
	            </li>
	        </ul>
	      </nav>
    	</div>
  	</div>

</header>
